<tr id="<%- resource.metadata.guid %>" class="service clickable">
    <td class="linked_entity">
        <%- resource.entity.service_instance.entity.name %>
    </td>
    <td>
        <%- resource.service_name %> <%- resource.service_version %>
    </td>
</tr>