<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th><%= polyglot.t('settings.dea.zone.name') %></th>
        <th><%= polyglot.t('settings.dea.zone.dea_list') %></th>
    </tr>
    </thead>
    <tbody class="page-container">

    </tbody>
</table>