<div class="paging-controls-replace" style="display:none;">
    <ul class="pager">
        <li class="page-load-prev disabled"><a href="#"><%= polyglot.t('paging.previous') %></a></li>
        <li class="page-load-next disabled"><a href="#"><%= polyglot.t('paging.next') %></a></li>
    </ul>
</div>

<div class="paging-controls-append" style="display:none;">
    <ul class="pager">
        <li><a class="page-load-next" href="#"><%= polyglot.t('paging.more') %></a></li>
    </ul>
</div>