<table class="table table-striped">
    <thead>
    <tr>
        <th><%= polyglot.t('organization.users.username') %></th>
        <th><%= polyglot.t('organization.users.email') %></th>
        <th><%= polyglot.t('organization.users.roles') %></th>
        <th></th>
    </tr>
    </thead>
    <tbody class="page-container">

    </tbody>
</table>
