<tr id="<%- resource.metadata.guid %>" class="user <% if (is_admin) { %>clickable<% } %>">
    <td <% if (is_admin) { %>class="linked_entity"<% } %>><%- resource.entity.username %></td>
    <td><%- resource.entity.email %></td>
    <td><%- resource.entity.roles.join(', ') %></td>
    <td>
    	<button class="btn btn-xs btn-warning remove-user pull-right" style="display: none;" data-click="removeUserClicked"><i class="icomoon-minus"></i></button>
        <button class="btn btn-xs btn-primary edit-user pull-right" style="display: none;" data-click="editUserClicked"><i class="icomoon-pencil"></i></button>
    </td>
</tr>
