<table class="table table-striped">
    <thead>
    <tr>
        <th><%= polyglot.t('settings.quotas.edit_quota.quota_name') %></th>
        <th><%= polyglot.t('settings.quotas.memory_limit') %></th>
        <th><%= polyglot.t('settings.quotas.total_services') %></th>
        <th><%= polyglot.t('settings.quotas.allow_sudo') %></th>
        <th></th>
    </tr>
    </thead>
    <tbody class="page-container">

    </tbody>
</table>
