<table class="table table-striped">
    <thead>
    <tr>
        <th><%= polyglot.t('service_bindings.app_name') %></th>
        <th><%= polyglot.t('service_bindings.app_state') %></th>
    </tr>
    </thead>
    <tbody class="page-container">

    </tbody>
</table>
