<tr id="<%- resource.entity.app.metadata.guid %>" class="application clickable">
    <td class="linked_entity"><%- resource.entity.app.entity.name %></td>
    <td><%- resource.entity.app.entity.state %></td>
</tr>
