<table class="table table-striped">
    <thead>
    <tr>
        <th><%= polyglot.t('services.name') %></th>
        <th><%= polyglot.t('services.type_and_version') %></th>
        <th><%= polyglot.t('services.owner') %></th>
        <th><%= polyglot.t('services.num_app_bindings') %></th>
    </tr>
    </thead>
    <tbody class="page-container">

    </tbody>
</table>
