<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th><%= polyglot.t('users.user_name') %></th>
        <th><%= polyglot.t('users.roles') %></th>
        <th><%= polyglot.t('users.emails') %></th>
        <th></th>
    </tr>
    </thead>
    <tbody class="page-container">

    </tbody>
</table>
