<div class="page-header">
    <h1>
        <span class="icomoon-bubble"></span>
        <%= polyglot.t('support.contact') %>
    </h1>
</div>
<div class="row">
    <div class="col-md-5 content_block">
        <h4><%= polyglot.t('support.community_forums') %></h4>

        <div><%= polyglot.t('support.community_forums_description') %></div>
    </div>
    <div class="col-md-5 col-md-offset-1 content_block">
        <h4><%= polyglot.t('support.have_feedback') %></h4>

        <div><%= polyglot.t('support.have_feedback_description', { email: 'stackato@activestate.com' }) %></div>
    </div>
</div>

<div class="row">
    <div class="col-md-5 content_block">
        <h4><%= polyglot.t('support.chat_with_us') %></h4>

        <div><%= polyglot.t('support.chat_with_us_description') %></div>
    </div>
    <div class="col-md-5 col-md-offset-1 content_block">
        <h4><%= polyglot.t('support.speak_to_an_expert') %></h4>

        <div><%= polyglot.t('support.speak_to_an_expert_description', { 'email': support_email }) %></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 content_block jumbotron">
        <h2><%= polyglot.t('support.need_stackato_enterprise') %></h2>

        <div><%= polyglot.t('support.need_stackato_enterprise_description') %></div>
    </div>
</div>