<ul class="nav nav-tabs" id="graph-tabs">
    <li><a href="#cpu" data-toggle="tab">CPU</a></li>
    <li><a href="#load" data-toggle="tab">Load</a></li>
    <li><a href="#memory" data-toggle="tab">Memory</a></li>
    <li><a href="#processes" data-toggle="tab">Processes</a></li>
    <li><a href="#swap" data-toggle="tab">Swap</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="cpu">
        <div class="flot-graph" id="cpu-graph"></div>
    </div>
    <div class="tab-pane" id="load">
        <div class="flot-graph" id="load-graph"></div>
    </div>
    <div class="tab-pane" id="memory">
        <div class="flot-graph" id="memory-graph"></div>
    </div>
    <div class="tab-pane" id="processes">
        <div class="flot-graph" id="processes-graph"></div>
    </div>
    <div class="tab-pane" id="swap">
        <div class="flot-graph" id="swap-graph"></div>
    </div>
</div>