<li class="log-line">
    <span class="log-line-source">[<%- line.source %>]</span>
    <span class="log-line-timestamp"><%- line.timestamp_pretty %></span>:
    <span class="log-line-text"><%- line.text %></span>
</li>