<h2><%= polyglot.t('application.logs') %></h2>
<div class="alert alert-info">
	<p>
		<%= polyglot.t('application.logs.info') %> <strong><%= polyglot.t('application.logs.historic_logs') %></strong>
	</p>
</div>
<ul class="log-stream">

</ul>