<li id="alert-dropdown" class="dropdown">
    <a class="dropdown-toggle disabled" data-toggle="dropdown">
        <span class="badge badge-success"><%= polyglot.t('layout.header.alert_label', {smart_count: 0}) %></span>
        <b class="caret hidden"></b>
    </a>
    <ul class="dropdown-menu alerts hidden">
        <li class="alert no-alerts" style="display: none;"><%= polyglot.t('layout.header.no_alerts') %></li>
    </ul>
</li>