<div class="page-header">
    <h1>
        <span><i class="icomoon-globe"></i> <%= polyglot.t('organizations.organizations') %></span>

        <div class="pull-right space-buttons">
        	<button class="btn btn-primary create-organization" style="display: none"><span class="icomoon-plus"></span> <%= polyglot.t('organizations.new') %></button>
        </div>
    </h1>
</div>
<div id="messages">
</div>
<div class="row">
    <div class="col-md-12">
        <div class="organizations-table">
        </div>
    </div>
</div>
