<script type="text/x-template" id="settings-template">
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-cog"></span>
            <span> <%= polyglot.t('settings.harbor.harbor_settings') %></span>

            <div class="pull-right">
                <span class="role-count-container"></span>
            </div>
        </h1>
    </div>
    <div class="harbor_config"></div>
</script>

<script type="text/x-template" id="settings-harbor-config">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal well form-check-dirty" id="harbor_settings_form">

                <div class="form-group">
                  <label class="control-label col-lg-2" for="port_range_minimum"><%= polyglot.t('settings.harbor.port_range_minimum') %></label>
                  <div class="controls col-lg-10">
                    <input id="port_range_minimum" type="text" name="port_range_minimum" value="<%- port_range_minimum %>" class="form-control"/>
                    <span class="help-block">
                        <%= polyglot.t('settings.harbor.port_range_minimum.help') %>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-lg-2" for="port_range_maximum"><%= polyglot.t('settings.harbor.port_range_maximum') %></label>
                  <div class="controls col-lg-10">
                        <input id="port_range_maximum" type="text" name="port_range_maximum" value="<%- port_range_maximum %>" class="form-control"/>
                        <span class="help-block">
                        <%= polyglot.t('settings.harbor.port_range_maximum.help') %>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" id="save_harbor_settings" class="btn disabled submit btn-default pull-right" data-loading-text="<%= polyglot.t('saving_changes') %>" data-done-text="<%= polyglot.t('changes_saved') %>"><%= polyglot.t('save_changes') %></button>
                  </div>
                </div>


                <div class="form-group has-error hide">
                    <div class="col-lg-offset-2 col-lg-10">
                    <span class="help-block settings-error alert alert-danger">
                    </span>
                    </div>
                </div>

            </form>
            <div id="restart_node" class="alert alert-danger restart-process hide">
                <i class="icomoon-warning"></i> <%= polyglot.t('settings.restart_process_after_save', {process: "harbor_node"}) %></p>
            </div>
        </div>
    </div>
</script>
