<script type="text/x-template" id="settings-template">
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-cog"></span>
            <span> <%= polyglot.t('settings.file_system.file_system_settings') %></span>

            <div class="pull-right">
                <span class="role-count-container"></span>
            </div>
        </h1>
    </div>
    <div class="file_system_config">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal well" id="file_system_settings_form">

                    <div id="file_system_node_settings">
                    </div>

                    <div class="form-group" id="file_system_gateway_settings">
                    </div>

                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button type="button" id="save_file_system_settings" class="btn disabled submit btn-default pull-right" data-loading-text="<%= polyglot.t('saving_changes') %>" data-done-text="<%= polyglot.t('changes_saved') %>"><%= polyglot.t('save_changes') %></button>
                      </div>
                    </div>

                    <div class="form-group has-error hide">
                        <div class="col-lg-offset-2 col-lg-10">
                        <span class="help-block settings-error alert alert-danger">
                        </span>
                        </div>
                    </div>

                </form>
                <div id="restart_gateway" class="alert alert-danger restart-process hide">
                    <i class="icomoon-warning"></i> <%= polyglot.t('settings.restart_process_after_save', {process: "filesystem_gateway"}) %></p>
                </div>
                <div id="restart_node" class="alert alert-danger restart-process hide">
                    <i class="icomoon-warning"></i> <%= polyglot.t('settings.restart_process_after_save', {process: "filesystem_node"}) %></p>
                </div>
                <div id="restart_role" class="alert alert-danger hide">
                    <i class="icomoon-warning"></i> <%= polyglot.t('settings.restart_role_after_save', {role: "filesystem"}) %></p>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="settings-file-system-node-config">
    <div class="form-group">
        <label class="control-label col-lg-2" for="capacity"><%= polyglot.t('settings.db.capacity') %></label>
        <div class="controls col-lg-10">
          <input id="capacity" type="text" name="capacity" value="<%- capacity %>" class="form-control">
          <span class="help-block">
              <%= polyglot.t('settings.db.capacity.help') %>
          </span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2" for="max_fs_size"><%= polyglot.t('settings.file_system.max_fs_size') %></label>
        <div class="controls col-lg-10">
            <div class="input-group">
                <input id="max_fs_size" type="text" name="max_fs_size" value="<%- max_fs_size %>" class="form-control">
                <span class="input-group-addon">MB</span>
            </div>
            <span class="help-block">
              <%= polyglot.t('settings.file_system.max_fs_size.help') %>
            </span>
        </div>
    </div>
</script>

<script type="text/x-template" id="settings-file-system-gateway-config">
    <div class="controls col-lg-offset-2 col-lg-10">
      <label class="control-label">
        <input id="allow_overprovisioning" type="checkbox" name="allow_overprovisioning" <%- allow_overprovisioning %>>
        <%= polyglot.t('settings.db.allow_overprovisioning') %>
      </label>
      <span class="help-block">
          <%= polyglot.t('settings.db.allow_overprovisioning.help') %>
      </span>
    </div>
</script>