<nav id="footer" class="navbar navbar-inverse" role="navigation">
        <span class="copyright col-xs-12 col-sm-6 col-md-6 col-lg-6">&copy; ActiveState Software 2014. <%= polyglot.t('layout.footer.copyright') %> <a
                    class="eula" href=""><%= polyglot.t('layout.footer.terms') %></a></span>
        <span class="bottom_right_logo col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a class="as_link" target="_new" href="http://www.activestate.com"><img
                        src="<%- settings.product_logo_footer_url %>"></a></span>
</nav>
