<script type="text/x-template" id="events-template">
    <div class="page-header">
	<h1>
	    <span class="icomoon-console"></span>
	    <%= polyglot.t('eventlog') %>
	</h1>
    </div>

    <div class="row">

	<table id="cloud-events">
	    <thead>
		<tr>
		    <td id="new_events_notification" colspan=8 style="display: none">
		    </td>
		</tr>
		<tr class="hide">
		    <th></th>
		    <th></th>
		    <th>Time</th>
		    <th>Type</th>
		    <th>Description</th>
		    <th>Severity</th>
		    <th>Process</th>
		    <th>Node ID</th>
		</tr>
	    </thead>
	    <tbody>
		
	    </tbody>
	</table>
    </div>
</script>
