<div class="page-header">
    <h1>
        <span class="glyphicon glyphicon-cog"></span>
        <span> <%= polyglot.t('settings.config_settings') %></span>
    </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="list-group component-list">

        </div>
    </div>
    <div class="col-md-8">
        <div class="alert alert-info"><%= polyglot.t('settings.config_settings_info', {product_name: settings.product_name}) %></div>
        <div class="component-container">
        </div>
    </div>
</div>