<script type="text/x-template" id="dea-zone-template">
	<div class="tab-content">
		<h2><%= polyglot.t('settings.dea.distribution_zones_settings') %></h2>
	    <div class="zone-listing">

	    </div>
	</div>
</script>